body{

    background-color: orange;
}

#barra{


    margin:auto;
    width: 600px;
    list-style: none;
    border-bottom: 1px dotted #999;
    font-size: 2em;
}

#elem{

    float: left;
    margin-right: 20px;
}

a{
    text-decoration: none;
}
a:visited{
    color: black;
}